<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="button" scope="locale">
            <name>api_credentials</name>
            <label lang="de">Zugangsdaten für die Innocigs Dropship API</label>
            <label lang="en">Innocigs Dropship API Credentials</label>
        </element>
        <element required="true" type="text" scope="locale">
            <name>api_user</name>
            <label lang="de">Benutzer</label>
            <label lang="en">User</label>
            <description lang="de">Geben Sie hier die Benutzer-ID ein, die Ihnen von Innocigs zur Nutzung der API zur Verfügung gestellt worden ist.</description>
            <description lang="en">Please enter the API user-id which you got from Innocigs.</description>
        </element>
        <element required="true" type="text" scope="locale">
            <name>api_password</name>
            <label lang="de">Passwort</label>
            <label lang="en">Password</label>
            <description lang="de">Geben Sie hier das Passwort ein, die Ihnen von Innocigs zur Nutzung der API zur Verfügung gestellt worden ist.</description>
            <description lang="en">Please enter the API password which you got from Innocigs.</description>
        </element>
        <element type="button" scope="locale">
            <name>company_information</name>
            <label lang="de">Unternehmensdaten</label>
            <label lang="en">Company Information</label>
        </element>
        <element required="true" type="text" scope="locale">
            <name>company</name>
            <label lang="de">Unternehmen</label>
            <label lang="en">Company</label>
            <description lang="de">Geben Sie hier den Namen Ihres Unternehmens ein, so wie er bei Innocigs registriert ist.</description>
            <description lang="en">Please enter your company name as registered with Innocigs.</description>
        </element>
        <element required="false" type="text" scope="locale">
            <name>department</name>
            <label lang="de">Abteilung / Weitere Adresse</label>
            <label lang="en">Department / Addl. Address</label>
            <description lang="de">Geben Sie hier die Abteilung oder die weitere Addresszeile ein, so wie sie bei Innocigs registriert ist.</description>
            <description lang="en">Please enter your department (or additional address line) as registered with Innocigs.</description>
        </element>
        <element required="true" type="text" scope="locale">
            <name>street</name>
            <label lang="de">Straße und Hausnummer</label>
            <label lang="en">Street and number</label>
            <description lang="de">Geben Sie hier Ihre Straßenadresse mit Hausnummer ein, so wie sie bei Innocigs registriert ist.</description>
            <description lang="en">Please enter your street address including building number as registered with Innocigs.</description>
        </element>
        <element required="true" type="text" scope="locale">
            <name>zip</name>
            <label lang="de">Postleitzahl</label>
            <label lang="en">ZIP code</label>
            <description lang="de">Geben Sie hier die Postleitzahl ein, so wie sie bei Innocigs registriert ist.</description>
            <description lang="en">Please enter your ZIP code as registered with Innocigs.</description>
        </element>
        <element required="true" type="text" scope="locale">
            <name>city</name>
            <label lang="de">Ort</label>
            <label lang="en">City</label>
            <description lang="de">Geben Sie hier Ihren Ort ein, so wie sie bei Innocigs registriert ist.</description>
            <description lang="en">Please enter the city as registered with Innocigs.</description>
        </element>
        <element required="true" type="text" scope="locale">
            <name>country_code</name>
            <label lang="de">ISO-Länderkennung</label>
            <label lang="en">Country Code (ISO)</label>
            <description lang="de">Geben Sie hier die zweistellige ISO-Länderkennung (z.B: DE) ein, so wie sie bei Innocigs registriert ist.</description>
            <description lang="en">Please enter the ISO country code (for example: US) as registered with Innocigs.</description>
        </element>
        <element type="button" scope="locale">
            <name>contact_information</name>
            <label lang="de">Kontaktinformation</label>
            <label lang="en">Contact Information</label>
        </element>
        <element required="true" type="text" scope="locale">
            <name>first_name</name>
            <label lang="de">Vorname</label>
            <label lang="en">First name</label>
            <description lang="de">Geben Sie hier Ihren Vornamen ein, so wie er bei Innocigs registriert ist.</description>
            <description lang="en">Please enter your first name as registered with Innocigs.</description>
        </element>
        <element required="true" type="text" scope="locale">
            <name>last_name</name>
            <label lang="de">Nachname</label>
            <label lang="en">Last name</label>
            <description lang="de">Geben Sie hier Ihren Nachnamen ein, so wie er bei Innocigs registriert ist.</description>
            <description lang="en">Please enter your last name as registered with Innocigs.</description>
        </element>
        <element required="true" type="text" scope="locale">
            <name>phone</name>
            <label lang="de">Telefonnummer</label>
            <label lang="en">Phone Number</label>
            <description lang="de">Geben Sie hier Ihre Telefonnummer ein, so wie sie bei Innocigs registriert ist.</description>
            <description lang="en">Please enter your phone number as registered with Innocigs.</description>
        </element>
        <element required="true" type="text" scope="locale">
            <name>mail</name>
            <label lang="de">E-Mail Adresse</label>
            <label lang="en">Email address</label>
            <description lang="de">Geben Sie hier Ihre E-Mail-Adresse ein, so wie sie bei Innocigs registriert ist.</description>
            <description lang="en">Please enter your email address as registered with Innocigs.</description>
        </element>
        <element type="button" scope="locale">
            <name>api_test</name>
            <label lang="de">Konfiguration testen</label>
            <label lang="en">Test configuration</label>
        </element>
    </elements>
</config>