<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/menu.xsd">

    <entries>
        <entry>
            <name>InnoCigs Dropship</name>
            <label lang="en">Innocigs Dropship</label>
            <label lang="de">Innocigs Dropship</label>
            <class>sprite-truck-box</class>
            <parent identifiedBy="controller">Article</parent>
            <children>
                <entry>
                    <name>MxcInnocigsArticle</name>
                    <label lang="en">Article</label>
                    <label lang="de">Artikel</label>
                    <controller>MxcDsiArticle</controller>
                    <action>index</action>
                    <class>sprite-documents</class>
                </entry>
                <entry>
                    <name>MxcInnocigsGroup</name>
                    <label lang="en">Groups</label>
                    <label lang="de">Gruppen</label>
                    <controller>MxcDsiGroup</controller>
                    <action>index</action>
                    <class>sprite-category-item</class>
                </entry>
            </children>
        </entry>
    </entries>
</menu>
